.App__root {
  min-height: calc(100vh - 8rem);
  width: 100%;
  margin: 0 auto;
}
.App__header {
  display: flex;
  margin: 1rem 0;
  border: 0.12rem solid var(--color-background-secondary);
  padding: 0.7rem 1rem;
  border-radius: 0.25rem;
}
.App__postCard {
  border: 0.15rem solid var(--color-background-secondary);
  margin: 1rem 0;
  background: var(--color-text-secondary);
  min-height: 16rem;
  padding: 1rem;
}
.App__postCard > div {
  display: flex;
  align-items: center;
}
.App__postCard > div > h5 {
  margin-left: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  word-break: break-all;
}
.App__input {
  background: transparent;
  border: none;
}

@media screen and (min-width: 600px) {
  .App__root {
    max-width: 36rem;
  }
}
